{% extends 'main.html.twig' %}
{% block form %}
    {% for product in products %}
<form action="update_query.php" method="post">
    <h1>Обновить продукт</h1>
    <div class="mb-3">
        <input name="id" value="{{ product.id }}" type="hidden" class="form-control" id="id">
    </div>
    <div class="mb-3">
        <label for="name">название</label>
        <input name="name" value="{{ product.name }}" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="price">цена</label>
        <input name="price" value="{{ product.price }}" type="number" class="form-control" id="price">
    </div>
    <div class="mb-3">
        <label for="season">сезон</label>
        <input name="season" value="{{ product.season }}" type="text" class="form-control" id="season">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
    {% endfor %}
{% endblock %}